# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*
profile_default/
ipython_config.py

# VS Code & Mac
.vscode/
.DS_Store

# DATA
*.edf
*.rec
*.hyp
*.eeg

# Folders
sleep_edf_data/
isruc_data/
processed_data/
cap_data/
screenshoots_scifair/

*.png
*.csv
cluster_profiles.xlsx

saved_models/*.pkl